# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app



ws_moveit/.catkin_tools
ws_moveit/build
ws_moveit/devel
ws_moveit/logs


.catkin_workspace
catkin_ws/.catkin_tools
catkin_ws/build
catkin_ws/devel
catkin_ws/logs
catkin_ws/src/zz_test/models/*/meshes
backup