<launch>

  <node name="test" pkg="zz_test" type="test" respawn="false" output="screen">
    <rosparam command="load" file="$(find zz_test)/config/kinematics.yaml"/>
    <param name="/planning_plugin" value="ompl_interface/OMPLPlanner"/>
    <rosparam command="load" file="$(find zz_test)/config/ompl_planning.yaml"/>
  </node>

</launch>
